<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8" />
    <title>まるばつげーむ</title>
    <link href="fit2.css" rel="stylesheet" />
    <link href="design.css" rel="stylesheet" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     
</head>
<h1>まるばつげーむ</h1>
<br><br>
